<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <!-- Bootstrap CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="nav-link" th:href="@{/api/carrito1/carrito/weblist}">Carrito</a>
    <a class="nav-link" th:href="@{/api/carrito1/pedidos/weblist}">Pedidos</a>
    <a class="nav-link" th:href="@{/api/carrito1/productos/weblist}">Productos</a>
    <a class="nav-link disabled">Administración de Almacén</a>
</nav>

<div class="container">

    <div class="row p-3 justify-content-center">
        <br>
        <h2> Lista de Productos </h2>
        <br>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">nombre</th>
                <th scope="col">categoria</th>
                <th scope="col">subcategoria</th>
                <th scope="col">descripcion</th>
                <th scope="col">precio</th>
                <th scope="col">foto</th>
                <th scope="col">tamaño</th>
                <th scope="col">tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${listaProductos}">
                <td th:text="${producto.getId()} ">id</td>
                <td th:text="${producto.getNombre()} ">nombre</td>
                <td th:text="${producto.getCategoria()} ">categoria</td>
                <td th:text="${producto.getSubcategoria()} ">subcategoria</td>
                <td th:text="${producto.getDescripcion()} ">descripcion</td>
                <td th:text="${producto.getPrecio()} ">precio</td>
                <td th:text="${producto.getFoto()} ">foto</td>
                <td th:text="${producto.getTamanio()} ">tamaño</td>
                <td th:text="${producto.getTipo()} ">tipo</td>
            </tr>
        </tbody>
    </table>

</div>


</body>
</html>